<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="registros"> </ion-back-button>
    </ion-buttons>

    <ion-title>Consumir Servicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let foto of fotos">
      <img [src]="foto.thumbnailUrl" />

      <ion-card-content>
        <p>{{ foto.id }}</p>
        <p>{{ foto.title }}</p>
        <p><a [href]="foto.url" target="_blank">{{ foto.url }}</a></p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
